body {
  background-color: #29516D;
  font-family: Roboto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

canvas {
  border-radius: 15px;
  margin: auto;
  margin-bottom: 25px;
}

.text {
  margin: auto;
  background-color: #708EA4;
  padding: 10px;
  border-radius: 15px;
  display: flex;
}

.text-item {
  margin: 0 20px;
  width: 400px;
}

li {
  list-style-type: none;
}
